
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    max-width: 1000px;
    height: 3rem;
    background: #9a9a9a;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

nav img {
    height: 50%;
    margin: 1rem auto auto 1rem;

}

nav a {
    color: rgb(224, 224, 224);
    margin: 1rem;
    padding: 1rem 1rem;
    text-decoration: none;
    
}

nav a.login {
    background-color: rgb(189, 189, 189);
    border-radius: .25rem;
    margin-left: auto;
    padding: .25rem 1rem;

}

